<nav class="hide-on-med-and-up nav-extended">
  <div class="nav-wrapper light-green">
      <a href="#!" class="brand-logo"></a>
      <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="nav-links">
            <!-- <li class="nav-item"><a class='dropdown-button' href='#' data-activates='dropdown1'>Todas las categorias <span class="down">&nbsp;&nbsp;&nbsp;▼</span> </a></li> -->
            <li class="nav-item search">
                <input type="search" [(ngModel)]="search" class="browser-default" placeholder="Buscar articulo..." ng-model="searchinput">
            </li>
        </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a>Todas las familias</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="#test1">Articulos</a></li>
      <li class="tab"><a  href="#test2">Venta <span *ngIf="venta.length > 0" class="new badge">{{venta.length}}</span></a> </li>
    </ul>
  </div>
</nav>
<div class="hide-on-small-only shadow sec-fixed small-menu grey lighten-3">
  <div class="button-toggle light-green darken-2">
      <i class="material-icons">dehaze</i>
  </div>
  <ul class="menu">
      <!-- <li class="menu-item active">
          <i class="material-icons">apps</i>
          <p>TODO</p>
      </li> -->
      <li class="menu-item" *ngFor="let i of familias" (click)="getProductos(i)" >
        <i class="material-icons">local_offer</i>
        <p>{{i.name}}</p>
      </li>
      <!-- <li class="menu-item">
          <i class="material-icons">star_border</i>
          <p>DESTACADO</p>
      </li>
      <li class="menu-item">
          <i class="material-icons">local_offer</i>
          <p>PROMOS</p>
      </li> -->
  </ul>
</div>
<div class="row" [@fadeInAnimation]>
  <div class="hide-on-small-only col m6 l8 sec-fixed section grey lighten-4">
      <div class="navbar light-green">
          <ul class="nav-links">
              <!-- <li class="nav-item"><a class='dropdown-button' href='#' data-activates='dropdown1'>Todas las categorias <span class="down">&nbsp;&nbsp;&nbsp;▼</span> </a></li> -->
              <li class="nav-item search">
                  <input type="search" [(ngModel)]="search" class="browser-default" placeholder="Buscar articulo..." ng-model="searchinput">
              </li>
          </ul>
          <ul id='dropdown1' class='dropdown-content light-green'>
              <!-- <li ng-repeat="x in json"><a href="#!">{{x.nombre}}</a></li> -->
              <!--  <li><a href="#!">two</a></li>
              <li class="divider"></li>-->
          </ul>
      </div>
      <div class="content">

          <div class="productos row hide-on-small-only">
              <div  class="categoria">
                  <div class="tag-divider"><span class="flow-text">{{titulo}}</span></div>
                  <div class="box">
                      <div class="item" *ngFor="let i of productos | all:search" [@fadeInAnimation]>
                          <div class="card" (click)="fnSelectProd(i)">
                              <span class="card-title">
                                  <div class="right preci">
                                      USD {{i.pvp}}
                                  </div>
                                </span>
                            <img class="responsive-img" *ngIf="i.img == ''" src="assets/productoSI.png" alt="...">
                            <img class="responsive-img" *ngIf="i.img != ''" src="{{i.img}}" alt="...">                            
                          </div>
                        <span class="flow-text nameP">{{i.name}}</span>
                      </div>
                    </div>
              </div>
          </div>
          <!-- <ul ng-repeat="x in json" class="collection hide-on-med-and-up">
              <li ng-repeat="z in x.productos" class="collection-item avatar">
                  <img src="assets/images/sample-1.jpg" alt="" class="circle">
                  <span class="title">nombre</span>
                  <p>id</p>
                  <a href="#!" class="secondary-content">precio</a>
              </li>
          </ul> -->
      </div>
  </div>
  <div class="hide-on-small-only col m6 offset-m6 l4 offset-l8 sidenav grey lighten-5">
      <div class="row grupo-botones center">
          <div class="col s4" (click)="deleteAllProd()">
              <i class="material-icons">close</i>
              <p class="danger">ANULAR</p>
          </div>
          <div class="col s4" *ngIf="btnSearch" (click)="fnSearchVenta()">
              <i  class="material-icons">search</i>
              <p>BUSCAR</p>
          </div>
          <div class="col s4" *ngIf="!btnSearch">
            <input type="search" name="searchVenta" id="searchVenta" [(ngModel)]="searchVenta" placeholder="Buscar">
        </div>
          <div class="col s4" (click)="fnBtnAdd()" *ngIf="totales.nombre == ''">
              <i class="material-icons">person_add</i>
              <p>AGREGAR</p>
          </div>
      </div>
      <ul class="venta">
          <li *ngIf="venta.length == 0" class="no-ticket center-align">
              <i class="material-icons">close</i>
              <p>No se ha agregado articulos</p>
          </li>
          <li *ngFor="let x of venta | all:searchVenta">
              <div class="itemVentas" [ngClass]="{'active': x.select}" [@fadeInAnimation] >
                    <i class="material-icons closeItem" (click)="deleteProd(x)">close</i>
                  <span class="removerProd" [ngClass]="{'active': x.select}" (click)="deleteProd()">
                        <i class="material-icons">close</i>
                        <p>Remover</p>
                  </span>
                  <img src="assets/productoSI.png" alt="" class="responsive-img">
                  <span class="title">
                <p><span class="flow-text">{{x.name}}</span>
                  <!-- <br> <button class="waves-effect waves-light btn-flat" (click)="addObservacion(x)" *ngIf="!x.observacion != '' && !x.observacion != null"><i class="material-icons">add_circle_outline</i></button><span (click)="addObservacion(x)" *ngIf="x.observacion != '' && x.observacion != null">Obs: </span> <b>{{x.observacion}}</b> -->
                  <br> <span style="font-weight: bold">$ <input class="inputCantidad" type="number" [(ngModel)]="x.pvp" (change)="calcularForPrice(x.pvp,x)" (keyup)="calcularForPrice(x.pvp,x)"></span></p>
                  </span>
                  <div class="numeros right">
                      <span class="flow-text">x <input class="inputCantidad" type="number" [(ngModel)]="x.cantidad" (change)="calcularForCantidad(x.cantidad,x)" (keyup)="calcularForCantidad(x.cantidad,x)"></span>
                      <p>$. {{x.total.toFixed(2)}}</p>
                  </div>
              </div>
          </li>
      </ul>
      <div class="cobro">
          <div class="row center">
              <div class="col s3 botones" *ngIf="venta.length > 0 && totales.nombre != ''">
                  <div (click)="addObservaciones()" style="overflow:hidden;"><span *ngIf="observaciones == ''">Observaciones</span> <span *ngIf="observaciones != ''">{{observaciones}}</span></div>
                  <div class="" (click)="guardarFactura()">GUARDAR</div>
              </div>
              <div class="col s3" *ngIf="venta.length != 0" >
                  <span>Nombre</span><br>
                  <span class="flow-text nombreContacto"></span>
                  <span  (click)="fnBtnAdd()" *ngIf="venta.length > 0" class="flow-text nombreContacto">{{totales.nombre}}</span>
              </div>
              <div class="col s6 offset-s6 pagar">
                  <span>Total</span><br>
                  <span class="flow-text">$ {{totales.total}}</span>
              </div>
          </div>
      </div>
  </div>
  <div style="position: fixed"  style="overflow:auto;height:calc(100% - 104px)" class="hide-on-med-and-up col s12 m3 offset-m9 sidenav grey lighten-5">
    <div class="row">
                    <div id="test1" class="">
                        <div class="tag-divider"><span class="flow-text">Articulos</span></div>
                            <!-- <div class="box">
                                <div class="item" *ngFor="let i of productos | all:search" [@fadeInAnimation]>
                                    <div class="card" (click)="fnSelectProd(i)">
                                        <span class="card-title">
                                            <div class="right preci">
                                                USD {{i.pvp}}
                                            </div>
                                            </span>
                                        <img class="responsive-img" *ngIf="i.img == ''" src="assets/productoSI.png" alt="...">
                                        <img class="responsive-img" *ngIf="i.img != ''" src="{{i.img}}" alt="...">                            
                                    </div>
                                    <span class="flow-text nameP">{{i.name}}</span>
                                </div>
                                </div> -->
                                <ul class="collection" style="left:9px;">
                                    <li class="collection-item avatar" (click)="fnSelectProd(i)" *ngFor="let i of productos | all:search" [@fadeInAnimation]>
                                      <img src="assets/productoSI.png" alt="" class="circle">
                                      <span class="title">{{i.name}}</span>
                                      <p>USD {{i.pvp}}
                                      </p>
                                      
                                    </li>
                                   
                                  </ul>
                    </div>
                    <div id="test2" class="">
                            <div class="row grupo-botones center">
                                    <div class="col s4" (click)="deleteAllProd()">
                                        <i class="material-icons">close</i>
                                        <p class="danger">ANULAR</p>
                                    </div>
                                    <div class="col s4">
                                        <i class="material-icons">search</i>
                                        <p>BUSCAR</p>
                                    </div>
                                    <div class="col s4">
                                        <i class="material-icons">person_add</i>
                                        <p>AGREGAR</p>
                                    </div>
                                </div>
                                <ul class="venta" style="left:0;">
                                    <li *ngIf="venta.length == 0" class="no-ticket center-align">
                                        <i class="material-icons">close</i>
                                        <p>No se ha agregado articulos</p>
                                    </li>
                                            <li *ngFor="let x of venta">
                                                    <div class="itemVentas" [ngClass]="{'active': x.select}" [@fadeInAnimation] >
                                                          <i class="material-icons closeItem" (click)="deleteProd(x)">close</i>
                                                        <span class="removerProd" [ngClass]="{'active': x.select}" (click)="deleteProd()">
                                                              <i class="material-icons">close</i>
                                                              <p>Remover</p>
                                                        </span>
                                                        <img src="assets/productoSI.png" alt="" class="responsive-img">
                                                        <span class="title">
                                                      <p><span class="flow-text">{{x.name}}</span>
                                                        <br> <button class="waves-effect waves-light btn-flat" (click)="addObservacion(x)" *ngIf="!x.observacion != '' && !x.observacion != null"><i class="material-icons">add_circle_outline</i></button><span (click)="addObservacion(x)" *ngIf="x.observacion != '' && x.observacion != null">Obs: </span> <b>{{x.observacion}}</b>
                                                        <br> <span style="font-weight: bold">$ <input class="inputCantidad" type="number" [(ngModel)]="x.pvp" (change)="calcularForPrice(x.pvp,x)" (keyup)="calcularForPrice(x.pvp,x)"></span></p>
                                                        </span>
                                                        <div class="numeros right">
                                                            <span class="flow-text">x <input class="inputCantidad" type="number" [(ngModel)]="x.cantidad" (change)="calcularForCantidad(x.cantidad,x)" (keyup)="calcularForCantidad(x.cantidad,x)"></span>
                                                            <p>$. {{x.total.toFixed(2)}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                </ul>
                                <div class="cobro" style="position:fixed;bottom:0;left:0;">
                                    <div class="row center">
                                        <div class="col s3 botones">
                                            <div></div>
                                            <div>GUARDAR</div>
                                        </div>
                                        <div class="col s3">
                                            <span>Nombe</span><br>
                                            <span class="flow-text"></span>
                                        </div>
                                        <div class="col s6 offset-s6 pagar">
                                            <span>Total</span><br>
                                            <span class="flow-text">$ {{totales.total}}</span>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
  </div>
</div>


<div id="modalApiKey" class="modal">
    <form (ngSubmit)="enterApikey()">
<div class="modal-content">
    <h4>Por favor introduzca <b>Apikey</b></h4>
    <p>
        <input type="text" [(ngModel)]="apiKey" name="apiKey" autocomplete="off">
    </p>
</div>
<div class="modal-footer">
    <button type="submit" class="btn waves-effect waves-green btn-primary" [disabled]="apiKey == ''">Aceptar</button>
</div>
</form>
</div>

<div id="modalAddObservaciones" class="modal">
    <form (ngSubmit)="saveObsevacion()">
        <div class="modal-content">
            <h5>Por favor introduzca <b>Observación</b></h5>
            <p>
                <input type="text"  [(ngModel)]="observaciones" name="observaciones" autocomplete="off">
                <!-- <textarea class="materialize-textarea" name="obs" id="obs" cols="1" rows="1" [(ngModel)]="observaciones"></textarea> -->
            </p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn waves-effect waves-green btn-primary" [disabled]="observaciones == ''">Guardar</button>
        </div>
    </form>
</div>

<div id="modalAddContacto" class="modal">
        <form (ngSubmit)="saveContacto()">
            <div class="modal-content">
                <h5>Buscar <b>contacto</b></h5>
                <div class="row">
                        <div class="col s12">
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">textsms</i>
                              <input type="text" autocomplete="off" id="contacto" [(ngModel)]="contacto" name="contancto" class="autocomplete">
                              <label for="autocomplete-input">Buscar contacto</label>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn waves-effect waves-green btn-flat" (click)="closeModal('modalAddContacto')">Cancelar</button>
                    <button type="button" class="btn waves-effect waves-green btn-flat" (click)="fnAddNuevo()">Agregar nuevo</button>
                    <button type="submit" class="btn waves-effect waves-green btn-primary" [disabled]="contacto == ''">Agregar</button>
            </div>
        </form>
    </div>
    <div id="modalAddContactoADD" class="modal modal-fixed-footer">
            <form (ngSubmit)="saveContactoADD()">
                <div class="modal-content">
                    <h5>Agregar <b>contacto</b></h5>
                    <div class="row">
                            <div class="input-field col s12">
                                <input type="text" autocomplete="off" id="Nombre" name="Nombre" [(ngModel)]="modelContacto.name">
                                <label for="Nombre">Nombre</label>
                            </div>
                            <div class="input-field col s12">
                                    <input type="text" autocomplete="off" id="CIF" name="cif" [(ngModel)]="modelContacto.cif">
                                    <label for="CIF">CIF</label>
                                </div>
                            <div class="col s12">
                                    <p>
                                            <input type="checkbox" name="es_clt" id="es_clt" [(ngModel)]="modelContacto.es_clt">
                                            <label for="es_clt">Es cliente</label>
                                    </p>
                                </div>
                                <div class="input-field col s12">
                                        <input type="text" autocomplete="off" id="cmr" name="cmr" [(ngModel)]="modelContacto.cmr">
                                        <label for="cmr">Vendedor</label>
                                    </div>
                                    <div class="input-field col s12">
                                            <input type="text" autocomplete="off" id="mon_c" name="mon_c" [(ngModel)]="modelContacto.mon_c">
                                            <label for="mon_c">Moneda</label>
                                        </div>
                                
                          </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn waves-effect waves-green btn-flat" (click)="closeModal('modalAddContactoADD')">Cancelar</button>
                        <button type="submit" class="btn waves-effect waves-green btn-primary" >Agregar</button>
                </div>
            </form>
        </div>
<div class="cortina" *ngIf="cargando"></div>
<div class="progress" *ngIf="cargando">
    <div class="indeterminate"></div>
</div>
<!-- <div class="sidebar" [ngClass]="{'e':e}">
  <div class="option active">
      <div> 
        <i class="material-icons">apps</i> <br>  TODO
      </div>
  </div>
  <div class="option">
      <div> 
        <i class="material-icons">star_border</i> <br>  Destacado
      </div>
  </div>
  <div class="option">
      <div> 
        <i class="material-icons">local_offer</i> <br>  Promos
      </div>
  </div>
  <div class="option" style="position:absolute;bottom:0;font-size:12px;">
      <div> 
        Version alpha 0.0.1
      </div>
  </div>
</div>
<div class="content" [@fadeInAnimation]>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="row">
              <div class="col s4 m6 l8">
                  <a (click)="fnPush()" class="brand-logo left">
                    <i class="material-icons right">menu</i>
                  </a>
              </div>
              <div class="input-field col s8 m6 l4">
                <input placeholder="Buscar" id="search" type="search">
              </div>
          </div>
        </div>
      </nav>
    </div>
    <nav class="showNav"></nav>
  </header>
    <router-outlet></router-outlet>
</div> -->